@use "sass:math";
@use "sass:string";

// Переменные 
$color-primary: #2E3346;
$color-accent: #007F73;
$color-secondary: #FFF455;
$color-gray: #A7ADBA;
$color-light: #F1F3F6;
$transition: all 0.3s ease-in-out;

// Миксины
@mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex($direction: row, $justify: start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin pseudo-element($element, $content: '') {
    &::#{$element} {
        content: $content;
        @content;
    }
}

// Функции
@function auto-clamp($min, $max) {
    $viewport-width: 1920px; // Ширина viewport, относительно которой будем считать vw
    $middle: math.div($max, $viewport-width) * 100vw;
    @return string.unquote("clamp(#{$min}, #{$middle}, #{$max})");
}