* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    letter-spacing: -0.05em;
}

ul,
ol {
    list-style: none;
}

body {
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

p,
blockquote,
pre,
code,
dl,
dd,
ul,
ol {
    margin-bottom: 20px;
    font-size: 100%;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}