@use './fonts';

body {
    font-weight: 700;
}

html,
body {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
    }
}

.section {
    margin: auto-clamp(50px, 100px) 0;

    .section__header {
        @include flex(row, space-between, flex-start);
        gap: auto-clamp(25px, 50px);
        padding-top: 32px;


    }
}

.btn {
    &.btn-more {
        @include flex(row, center, flex-start);
        gap: auto-clamp(8px, 16px);
        font-size: auto-clamp(20px, 24px);
        font-weight: 700;
        color: $color-gray;

        span {
            &:not(.nuxt-icon) {
                transition: $transition;
            }
        }

        .nuxt-icon {
            width: 18px;
            height: 18px;
        }

        &:hover {
            color: $color-accent;

            .nuxt-icon {
                transform: translate(3px, -3px)
            }
        }
    }
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 24px;
    position: relative;

    &.line-top {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 24px;
            width: calc(100% - 48px);
            height: 1px;
            background-color: #F1F3F6;
        }
    }
}

.h2 {
    font-weight: 700;
    font-size: auto-clamp(48px, 90px);
}


.nuxt-icon {
    transition: $transition;
    cursor: pointer;

    &:hover {
        color: $color-accent;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.w-full {
    width: 100%;
}

a {
    &:not(:has(.nuxt-icon)) {
        transition: $transition;
    }

    &:hover {
        color: $color-accent;
    }
}